@if (musicaSegurizada !== null) {
  <iframe 
    width="10" 
    height="10" 
    [src]="musicaSegurizada" 
    style="display: none;" 
    allow="autoplay">
  </iframe>
}

<div>
  @if (personajeTuyo() === null || rival() === null) {
    <p>Cargando datos del combate...</p>
  } @else {
    
    <div class="PantallaPartida">
      
      <div class="BatallaIzquierda">
        <h1>{{ personajeTuyo().nombre }}</h1>
        <div class="DivBarra">
          <progress class="BarraVidaTuya" [value]="personajeTuyo().vida" [max]="vidaMaximaTuyo()"></progress>
          <p>{{personajeTuyo().vida}}/{{vidaTuya()}}</p>
        </div>
        <div class="EstadisticasFlotantes1">
        @for (estadistica of personajeTuyo().estadisticasDelPersonaje; track estadistica.nombreEstadistica) {
          @if (estadistica.consumible == true) {
            <p>{{ estadistica.nombreEstadistica }}: {{estadistica.valorPropio}}</p>
          }
        }
        </div>
        <div class="ContenedorRival">
          <img class="PersonajeTuyo" [class.AnimacionTuyo]="estaAtacandoTuyo" [class.recibiendoDano]="recibiendoTuyo" [class.muerte]="muerteTuyo" [src]="personajeTuyo().urlSprite">
          <img class="PersonajeTuyo ImagenGifTuyo" [class.AnimacionTuyo]="estaAtacandoTuyo" [class.recibiendoDano]="recibiendoTuyo" [class.muerte]="muerteTuyo" src="https://i.imgur.com/dqf7meC.gif">
        </div>
        </div>

      <div class="BatallaDerecha">
        <h1>{{ rival().nombre }}</h1>
        <div class="DivBarra">
          <progress class="BarraVidaTuya" [value]="rival().vida" [max]="vidaMaximaRival()"></progress>
          <p>{{rival().vida}}/{{vidaRival()}}</p>
        </div>
        <div class="EstadisticasFlotantes1">
        @for (estadistica of rival().estadisticasDelPersonaje; track estadistica.nombreEstadistica) {
          @if (estadistica.consumible == true) {
            <p>{{ estadistica.nombreEstadistica }}: {{estadistica.valorPropio}}</p>
          }
        }
        </div>
        <div class="ContenedorRival">
          <img class="ImagenRival" [class.AnimacionRival]="estaAtacandoRival" [class.recibiendoDano]="recibiendoRival" [class.muerte]="muerteRival" [src]="rival().urlSprite">
          <img class="ImagenRival ImagenGif" [class.AnimacionRival]="estaAtacandoRival" [class.recibiendoDano]="recibiendoRival" [class.muerte]="muerteRival" src="https://i.imgur.com/dqf7meC.gif">
        </div>
      </div>
      
    </div>

    <div class="PantallaDatos">

      <!-- MENU ATAQUES IZQUIERDA -->
      <div class="ClaseIzquierda" [class.inactivo]="!TuTurno">
        <div class="IzquierdaIzquierda">
          <h1 class="Ataques">ATAQUES de {{ personajeTuyo().nombre }}:</h1>   
          @for (ataque of personajeTuyo().ataquesDelPersonaje; track ataque.nombre) {
  
            @if (ataqueSeleccionado() == null) {
              <button (click)="seleccionarAtaque(ataque)" class="AtaqueBoton">{{ ataque.nombre }}</button>
            } @else {
                @if (ataqueSeleccionado() === ataque) {
                  <button (click)="seleccionarAtaque(ataque)" class="AtaqueBoton"><strong>{{ ataque.nombre }}</strong></button>
                } @else {
                  <button (click)="seleccionarAtaque(ataque)" class="AtaqueBotonNoSeleccionado"><strong>{{ ataque.nombre }}</strong></button>
                } 
            }  
          }
        </div>
    
        <div class="IzquierdaDerecha">
          <app-lanzador-dados (dadoLanzado)="ejecutarTurnoConDado($event)"></app-lanzador-dados>
        </div>
      </div>

      <!-- MENU ATAQUES DERECHA -->
      <div class="ClaseDerecha" [class.inactivo]="TuTurno || usarCpu">

        <div class="IzquierdaIzquierda">
          <h1 class="Ataques">ATAQUES de {{ rival().nombre }}</h1>   
          @for (ataque of rival().ataquesDelPersonaje; track ataque.nombre) {
  
            @if (ataqueSeleccionado() == null) {
              <button (click)="seleccionarAtaque(ataque)" class="AtaqueBoton">{{ ataque.nombre }}</button>
            } @else {
                @if (ataqueSeleccionado() === ataque) {
                  <button (click)="seleccionarAtaque(ataque)" class="AtaqueBoton"><strong>{{ ataque.nombre }}</strong></button>
                } @else {
                  <button (click)="seleccionarAtaque(ataque)" class="AtaqueBotonNoSeleccionado"><strong>{{ ataque.nombre }}</strong></button>
                } 
            }  

          }
        </div>
      
        <div class="IzquierdaDerecha">
          <app-lanzador-dados (dadoLanzado)="ejecutarTurnoConDado($event)"></app-lanzador-dados>
        </div>

      </div>

    </div>

  }
</div>