.PantallaPartida {
    height: 70vh; 
    background-color: red;
    padding-top: 15px;
    display: flex; 
    width: 100%;
}

* {
    box-sizing: border-box;
  }

.PantallaDatos {
    height: 30vh; 
    display: flex;
    background-color: rgb(32, 31, 31);
}

.Ataques {
    color: white;
}

.inactivo {
    filter: grayscale(100%); 
    opacity: 0.5; 
    pointer-events: none; 
}

.ClaseIzquierda {
    display: flex;
    width: 50%;
    background-color: rebeccapurple;
}

.ClaseDerecha {
    width: 50%;
    background-color: greenyellow;
    display: flex;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

.BatallaIzquierda {
    width: 50%; 
    padding: 20px;
}

.BatallaDerecha {
    width: 50%; 
    padding: 20px; 
}

.IzquierdaIzquierda {
    width: 70%; 
    padding: 20px;  
}

.IzquierdaDerecha {
    width: 30%; 
    padding: 20px; 
    background-color: yellow;   
}

.PersonajeTuyo {
    height: 450px;
    width: 340px;
}

.ImagenRival {
    height: 450px;
    width: 340px;
}

.DivBarra {
    display: flex;
}

.BarraVidaTuya {
    accent-color: green;
    width: 340px;
}

.AtaqueBoton {
    width: 200px;
    padding: 20px;
    border-radius: 6px;
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color:brown;
}

.AtaqueBoton:hover {
    cursor: pointer;
}

.AtaqueBotonNoSeleccionado {
    filter: grayscale(100%);   
    width: 200px;
    background-color:brown;
    padding: 20px;
    border-radius: 6px;
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 0px; 
}