.PantallaPartida {
    height: 70vh; 
    background-color: rgb(243, 194, 159);
    display: flex; 
    width: 100%;
}

* {
    box-sizing: border-box;
  }

.PantallaDatos {
    height: 30vh; 
    display: flex;
    background-color: rgb(32, 31, 31);
}

.Ataques {
    color: #5C3226;
    font-family: "Pirata One", system-ui;
}

.inactivo {
    filter: grayscale(100%); 
    opacity: 0.5; 
    pointer-events: none; 
}

.ClaseIzquierda {
    display: flex;
    width: 50%;
    background-color: #5B3124;
}

.ClaseDerecha {
    width: 50%;
    background-color: #5B3124;
    display: flex;
}

h1 {
    margin: 0px;
    text-align: center;
}

p {
    margin: 0px;
}

.TextoDado {
    color: #F4E4BC;
}

.EstadisticasFlotantes1 {
    position: absolute;
    z-index: 10; 
    background-color: rgb(111, 78, 16); 
    color: white;
    padding: 10px;
    border-radius: 8px
}

.BatallaIzquierda {
    width: 50%; 
    padding: 20px;
}

.BatallaDerecha {
    width: 50%; 
    padding: 20px; 
}

.IzquierdaIzquierda {
    margin: 5px;
    background-color: #f4e4bc;
    padding: 30px;
    clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%);
    width: 70%; 
}

.IzquierdaDerecha {
    width: 30%; 
    padding: 20px;  
}

.PersonajeTuyo {
    height: 450px;
    width: 340px;
    display: block;
    margin: 0 auto;
}

.AnimacionTuyo {
    animation: atacarTuyo 0.2s ease-in-out;
  }

  @keyframes atacarTuyo {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(100px); }
    100% { transform: translateX(0); }    
}

.AnimacionRival {
    animation: atacarRival 0.2s ease-in-out;  
}

@keyframes atacarRival {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-100px); }
    100% { transform: translateX(0); }    
}

.recibiendoDano {
    animation: atacado 0.3s ease-in-out;
}

@keyframes atacado {
    0%   { transform: translate(0, 0) rotate(0deg); }
    20%  { transform: translate(-5px, 5px) rotate(-2deg); }
    40%  { transform: translate(5px, -5px) rotate(2deg); }
    60%  { transform: translate(-5px, -5px) rotate(-2deg); }
    80%  { transform: translate(5px, 5px) rotate(2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.muerte {
    animation: desplome 1s forwards; 
}

@keyframes desplome {
    0%   { filter: grayscale(0%); opacity: 1; transform: translateY(0); }
    50%  { filter: grayscale(100%); opacity: 0.8; transform: translateY(30px); }
    100% { filter: grayscale(100%); opacity: 0; transform: translateY(100px); }
}

.ImagenRival {
    height: 450px;
    width: 340px;
    display: block;
    margin: 0 auto;
}

.DivBarra {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.BarraVidaTuya {
    accent-color: green;
    width: 340px;
}

.AtaqueBoton {
    width: 200px;
    padding: 20px;
    border-radius: 6px;
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color:rgb(235, 196, 162);
}

.AtaqueBoton:hover {
    cursor: pointer;
}

.AtaqueBotonNoSeleccionado {
    filter: grayscale(85%);   
    width: 200px;
    background-color:brown;
    padding: 20px;
    border-radius: 6px;
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 0px; 
}

.AtaqueBotonNoSeleccionado {
    cursor:pointer;
}